body {
    background: rgb(152, 132, 132);
}

.calc {
    width: 500px;
    height: 620px;
    border: 10px rgb(76, 48, 142);
    border-style: ridge;
    background-color: rgb(57, 57, 107);
    opacity: 0.9;
    margin-top: 70px;
    margin-left: 30%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(78, 63, 87, 1);


}

#text-screen{
  
    width: 422.5px;
    height: 92px;
    border: 2px black;
    border-style: double;
    background-color:  rgb(78, 192, 110);
    margin-top: 1px;
    margin-left: 1px;  
    text-align: right;
    padding-right: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 38px;

}

.main-screen {
    border: 1px blue solid;
    width: 460px;
    border-style: dotted;
    height: 108px;
    margin-top: 25px;
    margin-left: 20px;
}

.screen {
    width: 452px;
    height: 100px;
    border: 2px black;
    border-style: solid;
    background-color:  rgb(94, 124, 49);
    margin-top: 2px;
    margin-left: 2px;

}


.numpad {
 
    border-top:  white 2px groove;
    margin-top: 20px;
    
}
.row{
   
    height: 80px;
    width: 90%;
    margin-top: 9px;
    margin-left: 15px;
    
   
}
 

.btn{
    width: 62px;
    height: 58px;
    margin:10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    background-color: rgb(102, 102, 117);
    font-size: 36px;
    color: whitesmoke;
    font-weight: bolder;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn:hover{
    color: black;
    background-color: rgb(222, 222, 235);

}
.num{
    border: 1px solid black;
    width: 70px;
    height: 70px; 
    margin-left: 20px;
    margin-top: 5px;
}

.num-single{
    border: 1px solid black;
    width: 80px;
    height: 78px; 
    float: left;
    border-radius: 5px;
    margin-left: 30px;
    background-color: rgb(22, 23, 23);
    
   
}
